@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

section {
  height: 100vh;
  width: 100%;
  background-color: #1c1c1c;
}

.navbar {
  min-height: 15vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar h1 {
  color: rgb(177, 174, 174);
  padding-right: 20px;
  margin-left: 5%;
}

.duck {
  height: 60px;
  filter: invert(1);
  padding-bottom: 20px;
}

.solana-card {
  margin-top: 3rem;
  overflow: hidden;
  text-align-last: center;
  border-radius: 1rem;
  position: relative;
  width: 325px;
  height: 70px;
  margin: 2rem;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  color: rgb(177, 174, 174);
  padding: 20px;
  margin-left: 39%;
}
.solana-card:hover {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

.solana-logo {
  height: 50px;
}

.solana-card h1 {
  font-size: 20px;
  margin-left: 5%;
}

#price {
  margin-left: 32%;
}

.charts-container {
  height: 500px;
  width: 1300px;
  margin-left: 80px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.cards {
  margin-top: 3rem;
  overflow: hidden;
  text-align-last: center;
  border-radius: 1rem;
  position: relative;
  width: 325px;
  height: 450px;
  margin: 2rem;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: rgb(177, 174, 174);
  padding: 20px;
}

.cards:hover {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

.cards .logo {
  border-radius: 50%;
}

.btn {
  text-decoration: none;
  padding: 20px 50px;
  font-size: 1.25rem;
  margin: 32px;
  position: relative;
}

.btn-2 {
  color: rgb(148, 147, 147);
}

.btn-2::after,
.btn-2::before {
  content: "";
  border: 3px solid rgb(65, 64, 64);
  position: absolute;
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  left: 0;
  bottom: 0;
  z-index: 1;
  transition: transform 0.3s ease;
}

.btn-2:hover::after {
  transform: translate(-5px, -5px);
}

.btn-2:hover::before {
  transform: translate(5px, 5px);
}

.cards h2 {
  margin-top: 5px;
  margin-bottom: 10px;
}

.cards span {
  padding-left: 5px;
}
